<div class="flex-1">
  <a href="https://github.com/personal-social-media/rails-server-monitor" target="_blank" class="flex items-center mx-auto w-1/4">
    <i class="fab fa-github fa-3x"></i>
    <span class="ml-2">
      Rails Server Monitor V<%= server_version %>
    </span>
  </a>
</div>